@import url(../vendor/normalize.css);

@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/skills.css);
@import url(../blocks/projects.css);
@import url(../blocks/footer.css);

body {
  color: #ffffff;
  background-color: #111;
  background-image:
    radial-gradient(
      circle 600px at 80% 12%,
      rgba(109, 109, 255, 0.45) 0%,
      rgba(109, 109, 255, 0) 70%
    ),
    radial-gradient(
      circle 600px at 50% 90%,
      rgba(109, 109, 255, 0.45) 0%,
      rgba(109, 109, 255, 0) 70%
    );
  background-repeat: no-repeat;
}
